*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active-key{
  background-color: white !important;
  color: black;
}

body{
  display: flex;
justify-content: center;
align-content: center;
min-height: 100vh;
}

h2{
  font-size: 24px;
font-weight: bold;
}

#keyboard-container{
  width: 1000px;
  height: 300px;
  background-color: rgb(147, 125, 125);
  border: 3px solid blue;
  border-radius: 5px;
}

#first-row{
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  height: 45px;
  background: red;
  }

#first-row > div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 7px;
}

#second-row{
display: grid;
grid-template-columns: repeat(13, 1fr);
height: 45px;
background: orange;
}

#second-row > div{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid black;
}

#third-row{
  display: grid;
 grid-template-columns: repeat(12, 1fr);
  height: 45px;
  background: yellow
}

#third-row > div{
  display: flex;
justify-content: center;
align-items: center;
border: 1px solid black;
}

#forth-row{
   display: grid;
 grid-template-columns: repeat(11, 1fr);
  height: 45px;
  background: green
}

#forth-row > div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}


#fifth-row{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 45px;
  background: blue;
}

#fifth-row > div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#sisth-row{
   display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 45px;
  background: violet;
}


#sisth-row > div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
